/* ヘッダ部分のデザイン */
.head-box {
	min-height: 130px;
	display: flex;
	background: #77e8ca;
}
.head-box-text {
	color: #FFF;
	letter-spacing: 2px;
	font-size: 40px;
	font-weight: bold;
}
#song-S {
	color: #f3a78f;
}
#search-S {
	color: #8f98e2;
}
#sistem-S {
	color: #ffde5f;
}
#top-header{
	background-color: #FFF;
	height:60px;
}

#nav {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

/* フッタのためのデザイン */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

li{
	height:50px;
}

h3{
	margin-top: 30px;
	margin-bottom: 20px;
}

#userID{
	font-size:34px;
	text-decoration: underline;
}

#under{
	 border-bottom: solid 3px #87CEFA;
}

/* Complete */
.comp-image {
	display: inline-block;
	font:'メイリオ' ;
	font-weight: bold;
	padding: 60px 80px 60px 70px;
	background:#77e8ca;
	color: #fff;
	font-size: 30px;
	margin-top: 100px;
	margin-bottom: 50px;
}
